*.db
*.elc
*.pyc
*.stackdump
/*.zip
.DS_Store
.ac-php-conf.json
.cache
.dap-breakpoints
.directory
.emacs.desktop
.emacs.desktop.lock
.extension
.lsp-session-*
.mc-lists.el
.places
.python-environments/
.recentf
.recentf~
.smex-items
.trello
/.cask/
/.my-keybindings.el.swp
/devdocs
/eww-bookmarks
/history
/image-dired
/network-security.data
/recentf
/recentf~
/session.*
/srecode-map.el
\#*
ac-comphist.dat
auto-save-list/
bbdb
bookmarks
crown/
eclipse.jdt.ls
edts/
elnode/
elpa/
EmmyLua-LS-all.jar
eproject.lst
eshell/alias
eshell/history
eshell/lastdir
export/
!/core/tools/export/
forge-database.sqlite
mspyls/
my-org/
nov-places
org-files/
org-journal.cache
projectile-bookmarks.eld
projectile.cache
python-*-docs-html
quickurls
racket-mode/
semanticdb/
server/
tmp/
tramp
transient/
url/*
var/
workspace

# Private directory
/doc/COMMUNITY.org
/doc/CONTRIBUTING.org
/games/
private/
!private/README.md
!private/snippets/README.md
!private/templates/README.md
!private/local/README.md

# Ignore tags created by cscope, etags, ctags, and gtags (GNU global)
# source: https://github.com/github/gitignore/blob/master/Global/Tags.gitignore
cscope.files
cscope.out
cscope.in.out
cscope.po.out
GTAGS
GRTAGS
GPATH
GSYMS
TAGS
.TAGS
!TAGS/
tags
.tags
!tags/
gtags.files
eln-cache/
meghanada/
vimish-fold/
