auto-save-list/
elpa/
export/
ac-comphist.dat
eproject.lst
.smex-items
\#*
.places
.cache
/eww-bookmarks
eshell/history
.emacs.desktop
.emacs.desktop.lock
eshell/alias
eshell/lastdir
/url/cookies
my-org/
org-files/
semanticdb/
edts/
.recentf
.recentf~
projectile.cache
projectile-bookmarks.eld
tramp
elnode/
var/
crown/
*.stackdump
bookmarks
/.my-keybindings.el.swp
.DS_Store
tmp/
/history
.python-environments/
server/
/network-security.data
*.elc
*.pyc
/*.zip
*.db
python-*-docs-html
/.cask/
/session.*
/srecode-map.el
/recentf

# Private directory
private/
!private/README.md
!private/snippets/README.md
!private/local/README.md
/games/
