auto-save-list/
elpa/
export/
!/core/tools/export/
ac-comphist.dat
eproject.lst
.smex-items
\#*
.places
.directory
.cache
/eww-bookmarks
eshell/history
.emacs.desktop
.emacs.desktop.lock
eshell/alias
eshell/lastdir
forge-database.sqlite
url/*
my-org/
org-files/
semanticdb/
edts/
.recentf
.recentf~
projectile.cache
projectile-bookmarks.eld
tramp
elnode/
var/
crown/
*.stackdump
bookmarks
/.my-keybindings.el.swp
.DS_Store
tmp/
/history
.python-environments/
server/
/network-security.data
*.elc
*.pyc
/*.zip
*.db
python-*-docs-html
/.cask/
/session.*
/srecode-map.el
/recentf
.mc-lists.el
nov-places
workspace
eclipse.jdt.ls
.dap-breakpoints
.lsp-session-*
.trello
.extension

# Private directory
private/
!private/README.md
!private/snippets/README.md
!private/templates/README.md
!private/local/README.md
/games/
/doc/COMMUNITY.org
/doc/CONTRIBUTING.org
