[submodule "extensions/emacs-eclim"]
	path = extensions/emacs-eclim
	url = http://github.com/senny/emacs-eclim
[submodule "extensions/delim-pad"]
	path = extensions/delim-pad
	url = http://github.com/lewang/delim-pad
[submodule "extensions/pylookup"]
	path = extensions/pylookup
	url = http://github.com/syl20bnr/pylookup
[submodule "extensions/projmake-mode"]
	path = extensions/projmake-mode
	url = http://github.com/ericbmerritt/projmake-mode
[submodule "extensions/edts"]
	path = extensions/edts
	url = http://github.com/tjarvstrand/edts
[submodule "extensions/auto-highlight-symbol-mode"]
	path = extensions/auto-highlight-symbol-mode
	url = http://github.com/mitsuo-saito/auto-highlight-symbol-mode.git
[submodule "extensions/window-numbering"]
	path = extensions/window-numbering
	url = http://github.com/syl20bnr/window-numbering.el
[submodule "extensions/revive"]
	path = extensions/revive
	url = http://github.com/vedang/revive-mode.git
[submodule "extensions/o-blog"]
	path = extensions/o-blog
	url = http://github.com/renard/o-blog
[submodule "extensions/helm-c-moccur"]
	path = extensions/helm-c-moccur
	url = http://github.com/syl20bnr/helm-c-moccur
