[submodule "spacemacs/extensions/projmake-mode"]
	path = extensions/projmake-mode
	url = https://github.com/ericbmerritt/projmake-mode
[submodule "spacemacs/extensions/revive"]
	path = spacemacs/extensions/revive
	url = https://github.com/vedang/revive-mode.git
[submodule "spacemacs/extensions/helm-c-moccur"]
	path = extensions/helm-c-moccur
	url = https://github.com/syl20bnr/helm-c-moccur
[submodule "spacemacs/extensions/evil-org-mode"]
	path = spacemacs/extensions/evil-org-mode
	url = https://github.com/syl20bnr/evil-org-mode
[submodule "spacemacs/extensions/helm-rcirc"]
	path = spacemacs/extensions/helm-rcirc
	url = https://github.com/syl20bnr/helm-rcirc
[submodule "spacemacs/extensions/spray"]
	path = spacemacs/extensions/spray
	url = https://github.com/syl20bnr/spray
