[submodule "extensions/emacs-eclim"]
	path = extensions/emacs-eclim
	url = http://github.com/senny/emacs-eclim
[submodule "extensions/delim-pad"]
	path = extensions/delim-pad
	url = http://github.com/lewang/delim-pad
[submodule "extensions/pylookup"]
	path = extensions/pylookup
	url = http://github.com/syl20bnr/pylookup
[submodule "extensions/projmake-mode"]
	path = extensions/projmake-mode
	url = http://github.com/ericbmerritt/projmake-mode
[submodule "extensions/edts"]
	path = extensions/edts
	url = http://github.com/tjarvstrand/edts
