###### key sequence: %KEY_SEQUENCE%
###### mode: %MODE%
###### name: %NAME%
###### scope: %SCOPE%
###### load-file-name: %FILE%
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
