{:spacetools.spacedoc.config/layers-org-query
 ["chat"
  "checker"
  "completion"
  "e-mail"
  "file tree"
  "font"
  "emacs"
  "framework"
  "fun"
  "i18n"
  "markup"
  "misc"
  "music"
  "os"
  "pairing"
  "reader"
  {"programming" ["util"
                  "dsl"
                  "lisp"
                  "script"
                  {"general" ["imperative"
                              "multi-paradigm"
                              "js"
                              ]}
                  "pure"
                  ]}
  "versioning"
  {"spacemacs" ["distribution"
                "util"
                ]}
  "tag"
  "theme"
  "tool"
  "vim"
  "web service"
  "uncategorized"
  ]

 :spacetools.spacedoc.config/valid-tags
 {"programming" "Programming languages"
  "music" "Music"
  "file tree" "File trees"
  "font" "Fonts"
  "dsl" "Domain-specific"
  "js" "JavaScript"
  "e-mail" "E-mail"
  "distribution" "Distributions"
  "spacemacs" "Spacemacs"
  "os" "Operating systems"
  "chat" "Chats"
  "util" "Utilities"
  "framework" "Frameworks"
  "markup" "Markup languages"
  "tag" "Tagging"
  "reader" "Readers"
  "i18n" "internationalization"
  "pairing" "Pair programming"
  "web service" "Web services"
  "versioning" "Source control"
  "fun" "Fun"
  "script" "Scripting"
  "imperative" "Imperative"
  "general" "General-purpose"
  "pure" "Purely functional"
  "emacs" "Emacs"
  "vim" "Vim"
  "completion" "Completion"
  "tool" "Tools"
  "misc" "Miscellaneous"
  "lisp" "Lisp dialects"
  "layer" "All layers"
  "theme" "Themes"
  "multi-paradigm" "Multi-paradigm"
  "checker" "Checkers"
  "uncategorized" "README.org files that need proper tags"
  }
 }
