<PLEASE REPLACE ALL UPPERCASE EXPRESSIONS AND DELETE THIS LINE>
#### Description
DESCRIPTION OF THE PROBLEM

#### Reproduction guide
- Start Emacs
- REPRODUCTION STEPS

*Observed behaviour:*
DESCRIPTION OF THE OBSERVED BEHAVIOUR

*Expected behaviour:*
DESCRIPTION OF THE EXPECTED BEHAVIOUR

(%LAST_KEYS%)

%SYSTEM_INFO%

#### Backtrace
```
%BACKTRACE%
```
